.myBtn {
    width: 130px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}
.myBtn:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 2px #000000;
}